<%= form_for @user do |f| %>
  <div class="row edit_form_profile">
    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3 title"><label for="name">Имя</label></div>
        <div class="col-xs-12 col-sm-9 value"><%= f.text_field :name, class: "form-control user_name" %></div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3 title"><label for="name">Email</label></div>
        <div class="col-xs-12 col-sm-9 value"><%= f.text_field :email, class: "form-control user_email" %></div>
      </div>    
    </div>    

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3 title"><label for="name">Дополнительная информация</label></div>
        <div class="col-xs-12 col-sm-9 value"><%= f.text_area :info, cols: 5, rows: 7, class: "form-control user_info" %></div>
      </div>      
    </div>      

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 title"><%= f.submit 'Сохранить изменения', class: 'btn btn-default pull-right' %></div>      
      </div>
    </div>
  </div>
<% end %>