<div class="row user_profile_container" id="userProfile">
  <h2 class="col-xs-12 h2">Профиль пользователя</h2>

  <div class="col-xs-12 profile">
    <% if @user.name %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Имя</div>
        <div class="col-xs-12 col-sm-9 value"><%= @user.name %></div>
      </div>
    <% end %>

    <% if @user.status %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Статус</div>
        <div class="col-xs-12 col-sm-9 value"><%= @user.status.title %></div>
      </div>
    <% end %>

    <% if @user.email %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Email</div>
        <div class="col-xs-12 col-sm-9 value"><%= mail_to @user.email %></div>
      </div>
    <% end %>   

    <% if @user.created_at %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Зарегистрирован</div>
        <div class="col-xs-12 col-sm-9 value"><%= l(@user.created_at, format: "%e %b %Y, %H:%I") %></div>
      </div> 
    <% end %>   

    <% if @user.last_sign_in_at %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Дата последней активности</div>
        <div class="col-xs-12 col-sm-9 value"><%= l(@user.last_sign_in_at, format: "%e %b %Y, %H:%I") %></div>
      </div>  
    <% end %>

    <% if @user.info %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 title">Дополнительная информация</div>
        <div class="col-xs-12 col-sm-9 value"><%= @user.info %></div>
      </div> 
    <% end %>     

    <% if @user == current_user %>
      <div class="row">
        <div class="col-xs-12 edit_button"><%= link_to 'Редактировать', edit_user_path(@user), class: 'btn btn-default' %></div>
      </div>  
    <% end %>       
  </div>
</div>