<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :title %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.text_field  :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :filename %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.file_field  :filename %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
