<h1>
  <span class="poll_label">Голосование :: </span>
  <span class="name"><%= @poll.title %></span>
</h1>

<div class="jumbotron jumbotron_show_poll" id="jumbotronShowPoll">
  <div class="row">
    <div class="col-xs-12 description_area">
      <%= @poll.description %>
    </div>
  </div>

  <div class="meta_area row" data-poll-id="<%= @poll.id %>">
    <div class="col-xs-6 col-sm-4 status">
      <span class="status_label label_block">Статус </span>
      <span class="status_value">        
        <span class="state_poll state_closed <% if @poll.status_poll_id == 0 %>hide<% end %>" id="stateClosed" data-new-state-code="0">Закрыто</span>
        <span class="state_poll state_open <% if @poll.status_poll_id == 1 %>hide<% end %>" id="stateOpen" data-new-state-code="1">Открыто</span>
      </span>
    </div>

    <div class="col-xs-6 col-sm-4 created_at">
      <span class="created_at_label label_block">Дата открытия </span>
      <span class="created_at_value"><%= l(@poll.created_at, format: "%e %b %Y, %H:%I") %></span>
    </div>

    <div class="col-xs-6 col-sm-4 owner" data-user-id="<%= @poll.user_id %>">
      <span class="created_at_label label_block">Создатель </span>
      <span class="created_at_value"><%= link_to @poll.user.name, user_path(@poll.user_id) %></span>
    </div>          
  </div>
</div>

<div class="row poll_image_container" id="thumbsList">
  <% if @images.length > 0  %>
    <% @images.each do |image| %>
      <article class="col-xs-12" data-image-id="<%= image.id %>" data-current-user="<%= current_user.id if current_user %>">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 image_area">
            <%= form_tag('/images/' + image.id.to_s, method: :get) do %>
              <%= hidden_field(:image, :image_id, :value => image.id) %>
              <%= image_tag(image.image.url(:medium), class: "thumb img-rounded") %>  
            <% end %>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-6 vote_area">
            <div class="glyphicon glyphicon-thumbs-up pull-left"><%= get_summary_votes_for_image(image.id) %></div>

            <% unless user_vote_image_check(image.id) %>
              <%= form_tag(user_poll_path(@user, @poll.id), method: :post, class: 'pull-left') do %>
                <%= hidden_field_tag(:image_id, image.id) %>
                <div class="vote_submit_container <% if @poll.status_poll_id == 1 %>hide<% end %>">
                  <%= submit_tag 'Проголосовать', class: 'btn-sm btn-info' %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>          
      </article>
    <% end %>

    <div class="col-xs-12">
      <%= will_paginate @images, :previous_label => '', :next_label => '' %>
    </div>
  <% else %>
    <div class="col-xs-12">Нет картинок</div>
  <% end %>
</div>






