<h1>
  <span class="poll_label">Голосование :: </span>
  <span class="name"><%= @poll.title %></span>
</h1>

<div class="jumbotron jumbotron_show_poll" id="jumbotronShowPoll">
  <div class="row">
    <div class="col-xs-12 description_area">
      <%= @poll.description %>
    </div>
  </div>

  <div class="meta_area row">
    <div class="col-xs-6 col-sm-4 status">
      <span class="status_label label_block">Статус </span>
      <span class="status_value"><%= @poll.status_poll.title %></span>
    </div>

    <div class="col-xs-6 col-sm-4 created_at">
      <span class="created_at_label label_block">Дата открытия </span>
      <span class="created_at_value"><%= l(@poll.created_at, format: "%e %b %Y, %H:%I") %></span>
    </div>

    <div class="col-xs-6 col-sm-4 owner">
      <span class="created_at_label label_block">Создатель </span>
      <span class="created_at_value"><%= link_to @poll.user.name, user_path(@poll.user_id) %></span>
    </div>          
  </div>
</div>

<div class="row poll_image_container" id="thumbsList">
  <% if @images.length > 0  %>
    <% @images.each do |image| %>
      <article class="col-xs-12" data-image-id="<%= image.id %>" data-current-user="<%= current_user.id if current_user %>">
        <%= form_tag('/images/' + image.id.to_s, method: :get) do %>
          <%= hidden_field(:image, :image_id, :value => image.id) %>
          <%= image_tag(image.image.url(:medium), class: "thumb") %>        
        <% end %>
      </article>
    <% end %>

    <div class="col-xs-12">
      <%= will_paginate @images, :previous_label => '', :next_label => '' %>
    </div>
  <% else %>
    <div class="col-xs-12">Нет картинок</div>
  <% end %>
</div>






