<div class="row thumb_album_container" id="thumbsList">
  <% if @images.length > 0  %>
    <% @images.each do |image| %>
      <article class="col-xs-12 col-sm-6 col-md-4" data-image-id="<%= image.id %>" data-current-user="<%= current_user.id if current_user %>">
        <%= form_tag('/images/' + image.id.to_s, method: :get) do %>
          <%= hidden_field(:image, :image_id, :value => image.id) %>
          <%= image_tag(image.image.url(:thumb), class: "thumb") %>
          <p class="description"><%= truncate(image.description, length: 100, omission: '...') %></p>

          <% if admin_status || @user == current_user  %>
            <div class="actions row">
              <div class="poll_select_area col-xs-10 col-sm-8">
                <% if image.poll_id %>
                  <div class="vote_name">
                    <span class="label_vote_name">Участвует в: </span>
                    <span class="value_vote_name"><%= image.poll.title %></span>
                  </div>
                  <div class="remove_from_poll_button btn-xs btn-info">Снять с голосования</div>
                <% else %>                
                  <%= select_tag "poll", options_from_collection_for_select(@polls, "id", "title"), class: 'poll_select form-control' %>
                  <div class="add_to_poll_button btn-xs btn-info">Добавить в голосование</div>
                <% end %>
              </div>

              <div class="glyphicon_area col-xs-2 col-sm-4">
                <span class="glyphicon glyphicon-remove destroy_image pull-right"></span>
                <span class="glyphicon glyphicon-edit edit_image pull-right"></span>
              </div>
            </div>
          <% end %>          
        <% end %>
      </article>
    <% end %>

    <div class="col-xs-12">
      <%= will_paginate @images, :previous_label => '', :next_label => '' %>
    </div>
  <% else %>
    <div class="col-xs-12">Нет картинок</div>
  <% end %>
</div>