<% if @user == current_user  %>
  <div class="jumbotron">
    <%= render 'form' %>
  </div>
<% end %>

<h1>
  <span class="">Список альбомов</span>
  <% if @user != current_user  %>
    <span class="name">:: <%= @user.name %></span>
  <% end %>
</h1>

<div class="row albums_user_container" id="albumsList">
  <% if @albums.length > 0 %>
    <% @albums.each do |album| %>
      <article class="col-xs-12 col-sm-6 col-md-4" data-current-user="<%= current_user.id if current_user %>" data-album-id="<%= album.id %>">
        <h3 class="title"><%= truncate(album.title, length: 40, omission: '...') %></h3>

        <p class="body"><%= truncate(album.description, length: 225, omission: '...') %></p>
        
        <p class="details">
          <%= link_to 'Подробнее...', user_album_path(@user, album.id), class: "btn btn-default" %>

          <% if admin_status || @user == current_user  %>
            <span class="glyphicon glyphicon-remove pull-right destroy_album"></span>
            <span class="glyphicon glyphicon-edit pull-right edit_album"></span>
          <% end %>
        </p>
      </article>
    <% end %>

    <%= will_paginate @albums, :previous_label => '', :next_label => '' %>
  <% else %>
    <div class="col-xs-12 no_albums" id="noAlbums">Нет альбомов</div>
  <% end %>
</div>

<!-- Modal update album-->
<div class="modal fade" id="modalUpdateAlbum" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAboutLabel">Редактирование альбома</h4>
      </div>
       <%= form_tag('', method: :patch, id: 'update_album_form') do %> 
        <div class="modal-body row">
          <div class="form-group col-xs-12">
            <label for="album_title_update">Название</label>
            <input class="form-control title" type="text" name="album[title]" id="album_title_update" value="" />
          </div>
          <div class="form-group col-xs-12">
            <label for="album_description_updte">Описание</label>
            <textarea rows="4" class="form-control" name="album[description]" id="album_description_updte"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" id="updateAlbumSubmit">Обновить</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
