<div class="jumbotron">
  <%= render 'form' %>
</div>

<h1>Список альбомов</h1>

<div class="row albums_user_container" id="albumsList">
  <% @albums.each do |album| %>
    <article class="col-xs-12 col-sm-6 col-md-4" data-current-user="<%= current_user.id %>" data-album-id="<%= album.id %>">
      <h3 class="title"><%= album.title %></h3>
      <p class="body"><%= truncate(album.description, length: 225, omission: '...') %></p>
      <p class="details">
        <%= link_to 'Подробнее...', user_album_path(current_user, album.id), class: "btn btn-default" %>
        <span class="glyphicon glyphicon-remove pull-right destroy_album"></span>
        <span class="glyphicon glyphicon-edit pull-right edit_album"></span>
      </p>
    </article>
  <% end %>
</div>
