<h1>
  <span class="">Список картинок</span>
  <% if @user != current_user  %>
    <span class="name">:: <%= @user.name %></span>
  <% end %>
</h1>

<div class="jumbotron jumbotron_show_album" id="jumbotronShowAlbum" data-album-id='<%= @album_id %>'>
  <div class="description_area">
    <h1 class="h1">Альбом: <%= @album.title %></h1>
    <%= @album.description %>
  </div>

  <% if @user == current_user  %>
    <div class="add_image_area" id="addImageArea">
      <div class="add_image_form" id="addImageForm">
        <%= render 'images/form' %>
      </div>
      <span class="add_image_toggler btn btn-primary pull-right" id='addImageToggler'>Форма добавления картинки</span>
    </div>
  <% end %>
</div>

<%= render 'image_list' %>

<!-- Modal update image-->
<div class="modal fade" id="modalUpdateImage" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAboutLabel">Редактирование описания картинки</h4>
      </div>
       <%= form_tag('', method: :patch, id: 'update_image_form') do %> 
        <div class="modal-body row">
          <div class="form-group col-xs-12">
            <label for="image_description_updte">Описание</label>
            <textarea rows="4" class="form-control" name="image[description]" id="image_description_updte"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" id="updateImageSubmit">Обновить</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


