<p id="notice"><%= notice %></p>

title:<%= @album.title %>
<br />
username: <%= @album.user.name %>

<%= link_to 'Edit', edit_user_album_path(current_user, @album) %> |
<%= link_to 'Back', user_albums_path(current_user) %>
