<div class="jumbotron jumbotron_show_album" id="jumbotronShowAlbum" data-album-id='<%= @album_id %>'>
  <div class="description_area">
    <h1 class="h1"><%= @album.title %></h1>
    <%= @album.description %>
  </div>

  <% if @user == current_user  %>
  <div class="add_image_area" id="addImageArea">
    <div class="add_image_form" id="addImageForm">
      <%= render 'images/form' %>
    </div>
    <span class="add_image_toggler btn btn-primary pull-right" id='addImageToggler'>Форма добавления картинки</span>
  </div>
  <% end %>
</div>

<%= render 'image_list' %>

<%#= link_to 'Edit', edit_user_album_path(current_user, @album) %> 

