<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <button type="button" class="btn btn-primary btn-xs sidebar_toggler" data-toggle="offcanvas">Боковая панель</button>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand logo_area" >
        <%= link_to 'Складик картинок: ', root_path, class: 'text_logo' %>
        <% if user_signed_in? %>  
          <span class="name">
            <%= current_user.name %>
            <%= link_to '(Выйти)', destroy_user_session_path, :method => :delete, :class => 'exit'  %>
          </span>
        <% end %>
      </span>      
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% unless user_signed_in? %>                   
          <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
          <li><%= link_to 'Войти', new_user_session_path %></li>
        <% end %>             
        <li><a href="#1" id="about">О проекте</a></li>
        <li><a href="#2" id="rules">Правила</a></li>
        <li><a href="#3">Голосования</a></li>
        <li><%= link_to 'Люди', users_path %></li>
        <li><a href="#3">Альбомы</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

