<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <% if guest_status %>
    <%= form_for(get_videos_new) do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-xs-12 col-sm-10">
          <%= f.text_field  :title %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= f.label :video %>
        </div>
        <div class="col-xs-12 col-sm-10">
          <%= f.file_field  :video %>
        </div>
      </div>       

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

    <!--<div class="list-group">
      <a href="#" class="list-group-item active">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
    </div>-->
  <% else %>
    <div class="about_projest_sidebar">
      <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.</p> 

      <p>В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32</p>

      <p>Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</p>
    </div>
  <% end %>
</div>