<!DOCTYPE html>

<html lang="ru">
  <head>
  <%= render 'layouts/head' %>
  </head>

  <body class="admin">
    <%= render 'layouts/nav_admin' %>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12">
          <%= render 'layouts/flash' %>

          <%#= render 'layouts/jumbotron_admin' %>

          <div class="row">
            <div class="col-xs-12">
              <%= yield %>
            </div>
          </div>
        </div>        
      </div>

      <%= render 'layouts/footer' %>

      <%= render 'layouts/modals' %>
    </div>
  </body>
</html>
