<!DOCTYPE html>

<html lang="ru">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/nav_main' %>

    <div class="container content_container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <%= render 'layouts/flash' %>

          <div class="row">
            <div class="col-xs-12">            
              <%= yield %>
            </div>
          </div>
        </div>        

        <%= render 'layouts/sidebar' %>
      </div>

      <%= render 'layouts/footer' %>

      <%= render 'layouts/modals' %>
    </div>
  </body>
</html>
